{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1> PAISAJE </h1>
        <p>
            ALGUN COMENTARIO
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/1.jpg" class="img-thumbnail" alt="">
    </div>

</div>

{{> footer }}

